<style>
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    }

.container {
    position: relative; /*必ず必要*/
    z-index: 2; /*必ず必要*/
    text-align:center;
    width:50%;
    padding:20px;
    margin: 0 auto;
    margin-top: 150px;
    background-color:  rgb(75 75 75);
    color: white;
    }
</style>

<%= video_tag 'test_1', width:"100%", autoplay: true, loop: true, muted: true %>
<%# 背景用動画 %>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>